<div *ngIf="recommendations.length > 0">
   My recommendations:
  <ul>
    <li *ngFor='let recommendation of recommendations'>
      {{ recommendation.name }}
    </li>
  </ul>
</div>

<input type="text" placeholder="Search for a Place" [(ngModel)]="query" name="place" required #searchBox (keyup)=search(searchBox.value)>
<div class="suggestions" *ngIf="filteredPlaces.length > 0">
  <ul>
    <li *ngFor="let place of filteredPlaces">
      <div (click)=addPlace(place)>{{ place.name }}</div>
    </li>
  </ul>
</div>